<form ng-if="isUploadForm">
<table>
    <tbody>
    <tr>

        <td>
            <input type="file"
                   kendo-upload
                   placeholder="Background"
                   ng-click="doSomething()"

                   name="file"/>
        </td>
        <td>
            <input type="file"
                   kendo-upload
                   placeholder="Background"

                   name="file"/>
        </td>

        <td>
            <input type="file"
                   kendo-upload
                   placeholder="Background"

                   name="file"/>
        </td>

    </tr>

    <tr>

        <td>
            <input type="file"
                   kendo-upload
                   placeholder="Background"
                   name="file"/>
        </td>
        <td>
            <input type="file"
                   kendo-upload
                   placeholder="Background"
                   name="file"/>
        </td>
        <td>
            <input type="file"
                   kendo-upload
                   placeholder="Background"
                   name="file"/>
        </td>

    </tr>
    <tr>
        <td>
            <input type="file"
                   kendo-upload
                   placeholder="Background"
                   name="file"/>
        </td>


    </tr>

    </tbody>
    </table>

    <button  class="k-primary" ng-if="isUploadForm" >Save</button>
    <button   ng-if="isUploadForm" ng-click="cancleUploadForm()">Cancle</button>

</form>