<table>
    <tbody>
    <tr>

        <td>
            <label>Background<br></label>
            <input type="file"
                   kendo-upload
                   placeholder="Background"
                   options="optionsBackground"

                   name="file"/>
        </td>
        <td>
            <label>First Ad<br></label>

            <input type="file"
                   kendo-upload
                   placeholder="FirstAd"
                   options="optionsFirstAd"

                   name="file"/>
        </td>

        <td>
            <label>Second Ad<br></label>

            <input type="file"
                   kendo-upload
                   placeholder="SecondAd"
                   options="optionsSecondAd"


                   name="file"/>
        </td>

    </tr>

    <tr>

        <td>
            <label>Third Ad<br></label>

            <input type="file"
                   kendo-upload
                   placeholder="ThirdAd"
                   options="optionsThirdAd"

                   name="file"/>
        </td>
        <td>
            <label>Fourth Ad<br></label>

            <input type="file"
                   kendo-upload
                   placeholder="FourthAd"
                   options="optionsFourthAd"

                   name="file"/>
        </td>
        <td>
            <label>Fifth Ad<br></label>

            <input type="file"
                   kendo-upload
                   placeholder="Background"
                   options="optionsFifthAd"

                   name="file"/>
        </td>

    </tr>

    </tbody>
    </table>
<br>

    <button  class="k-primary" ng-if="isUploadForm" ng-click="cancleUploadForm()">DONE</button>

