<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="#one"><i class="ion-ios-analytics-outline"></i>Hi Admin </a>
    </div>
    <div class="navbar-collapse collapse" id="bs-navbar">
      <ul class="nav navbar-nav">
        <li>
          <a class="page-scroll" href="#one">File Upload</a>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" data-toggle="modal" title="SeatEats Admin Panel" href="#aboutModal">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="bg-primary" id="one" style=" padding-top: 100px;">
  <div class="container">
    <div>
        <!--content here goes-->
        <h3 ng-if="photos.length==0 && !isUploadForm">Empty Repository</h3>


        <div  ng-if="isUploadForm">


          <table>
            <tbody>
            <tr>

              <td>
                <label>Background<br></label>
                <input type="file"
                       kendo-upload
                       placeholder="Background"
                       options="optionsBackground"

                       name="file"/>
              </td>
              <td>
                <label>First Ad<br></label>

                <input type="file"
                       kendo-upload
                       placeholder="FirstAd"
                       options="optionsFirstAd"

                       name="file"/>
              </td>

              <td>
                <label>Second Ad<br></label>

                <input type="file"
                       kendo-upload
                       placeholder="SecondAd"
                       options="optionsSecondAd"


                       name="file"/>
              </td>

            </tr>

            <tr>

              <td>
                <label>Third Ad<br></label>

                <input type="file"
                       kendo-upload
                       placeholder="ThirdAd"
                       options="optionsThirdAd"

                       name="file"/>
              </td>
              <td>
                <label>Fourth Ad<br></label>

                <input type="file"
                       kendo-upload
                       placeholder="FourthAd"
                       options="optionsFourthAd"

                       name="file"/>
              </td>
              <td>
                <label>Fifth Ad<br></label>

                <input type="file"
                       kendo-upload
                       placeholder="Background"
                       options="optionsFifthAd"

                       name="file"/>
              </td>

            </tr>

            </tbody>
          </table>
          <br>
          <h2>Menu Items</h2>
          <br>
          <br>

          <label>
            Name:
            <input  type="text" ng-model="FileName.name" style="color:#000000" ng-disabled="$scope.isDisable"  style="width: 80%;" />
          </label>
  <br>
     <!--     <input type="file"
                 kendo-upload
                 options="optionsMenu"
                 name="file"/>-->

          <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                  accept="image/*"  ngf-max-size="10MB" class="k-primary">
            Select & Upload</button>

          <span class="progress" ng-show="f.progress >= 0">
          <div style="width:{{f.progress}}%"
               ng-bind="f.progress + '%'"></div>
      </span>

          <br>
          <h2>Config.ini</h2>
          <br>
          <br>
          <input type="file"
                 kendo-upload
                 options="optionsConfig"
                 name="file"/>

          <br>

          <button  class="k-primary" ng-if="isUploadForm" ng-click="cancleUploadForm()" style="width: 50%; ">DONE</button>




        </div>


        <div deckgrid class="deckgrid" source="photos" ng-if="photos.length!=0 && !isUploadForm">
          <div class="a-card">
            <h1 >{{card.title}}</h1>

            <img src="" data-ng-src="{{card.src}}">
          </div>
        </div>


      </div>



  </div>
  <button flex="100" style="width: 100%"   class="k-primary" ng-if="!isUploadForm" ng-click="showUploadForm()">Edit Images</button>

</section>

<div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h2 class="text-center">Hi Admin</h2>
        <p class="text-justify">
          This is single page application to upload and to create the clients repository for the distribution, modularization and management of the SeatEats application.
        </p>
        <br/>
        <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--scripts loaded here from cdn for performance -->
