<div style="margin-right:0px;width:100%">
    <div>
        <md-button ng-disabled="repoCtrl.scope.readonly"
                   class="md-icon-button md-mini phone-button"
                   style="float: right;!important;margin-right: 0px;padding-right: 0px"
                   ng-click="repoCtrl.addContact(emails,$index)">
            <md-icon class="phoneicons material-icons md-primary" ng-class="{'grey-icon': false}">add_circle</md-icon>
        </md-button>

    </div>
    <div layout="row" style="width: 100%" ng-repeat="item in repoCtrl.ContactList" flex>

<!--content here-->


        <div id="chessboard">
            <div class="king" ng-click="openRepo($index)">
                <span class="icon">&#128194;</span>
                <span class="description">repository</span>
            </div>

        </div>

        <md-button

                class="md-icon-button md-mini phone-button margin-left-16"

                ng-click="OnRemove(item,$index)"
        >
            <md-icon class="phoneicons material-icons md-warn"
                     ng-class="{'grey-icon':false}">remove_circle
            </md-icon>
        </md-button>


    </div>


</div>